<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.vicmonmena.openuax"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/travelinfo_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/travelinfo_logo">
        <activity
            android:name=".TravelListActivity"
            android:label="@string/title_activity_travel_list" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.vicmonmena.openuax.TravelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="es.vicmonmena.openuax.EditTravelActivity"
            android:label="@string/new_travel" >
        </activity>
        <provider
            android:name=".database.TravelsProvider"
            android:authorities="es.vicmonmena.openuax.travellist"
            android:multiprocess="true"
            />
    </application>

</manifest>
